<% layout('layouts/boilerplate') %>

    <body>
        <h1>Looking at spot <%= place.title %>
        </h1>
        <form action="/places/<%= place._id %>/edit" method="GET">
            <button>Edit</button>
        </form>
        <a href="/places">All Study Spots</a>
    </body>

    </html>