<% layout('layouts/boilerplate') %>
    <div class="col-6 offset-3">
        <h1 class="text-center mb-2">Register</h1>
        <form action="/users/register" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="user[email]" class="form-control" placeholder="Email" id="email" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter email.
                </div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="user[username]" class="form-control" placeholder="Username" id="username"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter username.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="user[password]" class="form-control" id="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter password.
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>